In [45]:
import pandas as pd

In [46]:
data = pd.read_csv("../NSIntern/NSinternship/covid19_result_0806.txt", sep="\t")

In [69]:
display(data)

,eid,specdate,spectype,laboratory,origin,result,acute,hosaq,reqorg
0,1000011,11/05/2020,2,13,1,0,1,-1,2
1,1001244,21/03/2020,10,44,0,0,0,-1,2
2,1001283,02/06/2020,10,44,1,0,1,0,12
3,1001505,12/05/2020,10,58,1,0,1,-1,3
4,1001505,10/07/2020,10,58,1,0,1,-1,3
...,...,...,...,...,...,...,...,...,...
20549,6023646,30/06/2020,2,10,1,0,1,-1,12
20550,6023646,11/06/2020,2,10,1,0,1,-1,1
20551,6023646,01/06/2020,2,10,1,0,1,-1,1
20552,6023680,10/04/2020,5,56,0,1,0,-1,2
20553,6023680,10/04/2020,15,56,1,1,1,-1,1

### Data description: http://biobank.ctsu.ox.ac.uk/crystal/exinfo.cgi?src=COVID19_tests

In [59]:
spectype_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding1853.tsv", sep="\t")
laboratory_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding1856.tsv", sep="\t")
origin_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding1855.tsv", sep="\t")
result_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding1854.tsv", sep="\t")
acute_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding12.tsv", sep="\t")
hosaq_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding21.tsv", sep="\t")
reqorg_dc = pd.read_csv("../NSIntern/NSinternship/data_coding/coding3311.tsv", sep="\t")

data_coding = [spectype_dc, laboratory_dc, origin_dc, result_dc, acute_dc, hosaq_dc, reqorg_dc]

### Display data coding rules

In [60]:
pd.set_option('display.max_colwidth', None)
display(data_coding[6])
# 0 for spectype
# 1 for laboratory
# 2 for origin
# 3 for result
# 4 for acute
# 5 for hosaq
# 6 for reqorg

#pd.reset_option('max_colwidth')

    coding                            meaning
0        0  Null requesting organisation data
1        1                 hospital inpatient
2        2                          not found
3        3                hospital outpatient
4        4          healthcare worker testing
5        5                       hospital a&e
6        6                            unknown
7        7               general practitioner
8        8       environmental health officer
9        9                          care home
10      10      genito-urinary medicine dept.
11      11          occupational health dept.
12      12                              other

### Total Infection rate

In [67]:
inf_rate = data['result'].astype(bool).sum(axis=0)/data['result'].count()
print("The infection rate on current data is {}".format(inf_rate))

The infection rate on current data is 0.1372482241899387